body {
	
	background-color: #FFFFFF;
	
}

#nav_list {
	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #373F51;
}


.nav_list_item {
	
	float: left;
	
}


.nav_list_item a {
	
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	
}

.nav_list_item a:hover {
	
	background-color: #5BBADA;
	
}

.active {
	
	background-color: #3F92A9;
	
}

#main_heading {
	
	display:block;
    text-align:left;
	margin-bottom: 15px;

}

.heading {
	
	color: #373F51;
	
}

#main_heading_line {

    border-top: 2px dashed #3F92A9;
	margin-left: 60px;
    width: 17%;
	
}

.footer {
   position: fixed;
   width: 100%;
   background-color: #3F92A9;
   color: white;
   text-align: center;
   left: 0px;
   bottom: 0px;
}

#main_heading {
	
	margin-left: 60px;
	font-size: 70px;
	
}

.subtitle {
	
	margin-top: 0px;
	margin-bottom: 25px;
	margin-left: 60px;
	
}

#image_1 {
	
	border: 2px solid #373F51;
	
}

#first_line {
	
	border-top: 2px solid #373F51;
	
}

#arrow {
	

	margin-left: 60px;

	
}